@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body{
    width:1200px;
    margin:0 auto;
    font-family: 'Pretendard-Regular';
}
header{
    width:1200px;
    height:70px;
    background-color: #444C61;
    display:flex;
    justify-content: space-between;
}
.section1{
    width:1200px;
    height:350px;
    overflow:hidden;
}
.section1-list{
    transition: transform 0.7s ease-in-out;
}
.section1-image{
    width:100%;
    height:350px;
    display:block;
    object-fit: cover;
}
.section2>div, .section1{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section2{
    width:1200px;
    height:280px;
    display:flex;
}
.section2_left{
    background-color: #F5E4EA;
    width:400px;
    height:280px;
}
.section2_left_top{
    height:48px;
    width:400px;
    border-bottom:1px solid #444C61;
    display:flex;
}
.section2_left_top_left{
    display:flex;
    width:100px;
    height:48px;
    background-color:#444C61;
    color:#F5E4EA;
    font-weight:bold;
    font-size:16px;
    justify-content: center;
    align-items: center;
}
.section2_left_top_right{
    display:flex;
    width:100px;
    height:48px;
    color:#444C61;
    font-weight:bold;
    font-size:16px;
    justify-content: center;
    align-items: center;
}

.section2_left_top_left:hover, .section2_left_top_right:hover{
    cursor: pointer;
}
.section2_center{
    width:400px;
    height:280px;
    background-image: url("../assets/image180.jpg");
}
.section2_right{
    width:400px;
    height:280px;
    background-image: url("../assets/image179.jpg");
}
.section2_left_bottom{
    margin:15px 10px;
}
.text{
    display:flex;
    justify-content: space-between;
    color:#444C61;
    font-size:16px;
    font-weight:lighter;
}
.text>p{
    margin:11px;
}
#text1{
    border-bottom:1px solid #444C61;
}
#text1:hover{
    cursor: pointer;
}
footer{
    width:1200px;
    height:100px;
    background-color: #444C61;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.section2_center>p, .section2_right>p{
    color:white;
    display:flex;
    justify-content: center;
    font-size:25px;
    align-items: center;
    height:280px;
    font-family: 'Pretendard-Regular';
}

.title{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left:40px;
}
.menu{
    color:#F5E4EA;
    display:flex;
    justify-content: space-between;
    font-size:20px;
    padding-right:70px;
}
.menu-item{
    position:relative;
}
.menu-item>p{
    display:flex;
    justify-content: center;
    width:150px;
    color:#F5E4EA;
}
ul{
    list-style: none;
    height:200px;
}
ul>li{
    font-size:16px;
    height:50px;
    display:flex;
    background-color: #111;
    justify-content: center;
    opacity: 0.7;
    align-items: center;
    border:none;
}
ul>li:hover{
    background-color: #F5E4EA;
    color:#444C61;
    opacity: 1;
}
.sub-menu{
    position:absolute;
    top:70%;
    left:0;
    color:white;
    z-index:100;
    width:150px;
    padding:0;
}
.footer_title{
    padding-left:40px;
}
.active-tab{
    background-color:#444C61 ;
    color:#F5E4EA;
}
.inactive-tab{
    background-color: #F5E4EA;
    color:#444C61;
}
.popup-title{
    width:400px;
    color:white;
    display:flex;
    align-items: center;
    font-size:18px;
    background-color: #444C61;
    padding-left:15px;
}
.popup{
    position:relative;
}
.popup-text{
    color:#444C61;
    font-size:14.5px;
    padding:5px;
    font-weight:normal;
}
.popup-button{
    background-color: #444C61;
    color:white;
    width:80px;
    height:40px;
    border-radius:5px;
    border:none;
    font-size:14.5px;
    position:absolute;
    right:0;
    cursor: pointer;
}