.center{
    width:1250px;
    height:100vh;
    margin:0 auto;
}
header *{
    height: 100px;
}
header{
    display:flex;
}
header>.left{
    width:250px;
    background-color: #EEEEE9;
}
header>.right{
    width:1000px;
    background-color: #D6CCC2;
}
main>.sc1{
    background-color: #F5ECE1;
    height:440px;
}
main>.sc2{
    height:440px;
    display:flex;
}
.sc2>.left{
    background-color: #E4D6CA;
    width:625px;
}
.sc2>.right{
    background-color: #D5BEB1;
    width:625px;
}

footer{
    background-color: #D6CCC2;
    width:1250px;
    height:100px;
}
/*
main>.sc2{
    height:440px;
}

.sc2 .left, .sc2 .right{
    width:50%;
}

.sc2.left{
    background-color: #E4D6CA;
}

.sc2.right{
    background-color: #D5BEB1;
}
*/