@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

button,
a {
    cursor: pointer;
    background-color: var(--none);
}

body {
    font-family: 'Pretendard-Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

#root {
    width: 100%;
}

.container{
    width:414px;
    height:932px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
}

::-webkit-scrollbar {
    display: none;
}

.none {
    display: none !important;
}

input {
    outline: none;
}