.center{
    width:1250px;
    height:100vh;
    margin: 0 auto;
}
header{
    display:flex;
}
.h_left{
    width:250px;
    height:100px;
    background-color: #54D8DC;
}
.h_right{
    width:1000px;
    height:100px;
    background-color:#86DADC ;
}
.image{
    display:flex;
}
img{
    width:416px;
    height:880px;
}
footer{
    display:flex;
}
.f_left{
    width:250px;
    height:100px;
    background-color: #FDE1E0;
}
.f_r_top{
    width:1000px;
    height:50px;
    background-color:#FECECE ;
}
.f_r_bottom{
    width:1000px;
    height:50px;
    background-color: #FDB2B5;
}

@media(max-width:680px){
    header{
        display:flex;
        flex-direction: column;
    }
    .h_left{
        width:100%;
    }
    .h_right{
        width:100%;
    }
    .image{
        display:flex;
        flex-direction: column;
    }
    img{
        width:100%;
        height:225px;
    }
    footer{
        display:flex;
        flex-direction: column;
    }
    .f_left{
        width:100%;
        height:100px;
    }
    .f_r_top, .f_r_bottom{
        width:100%;
        height:50px;
    }
}

@media(max-width:450px){
    header{
        display:flex;
        flex-direction: column;
    }
    #img1{
        display:none;
    }
    img{
        height:340px;
    }
    .f_right{
        display:none;
    }
    .f_left{
        height:200px;
    }
}