#wrap{
    width:1280px;
    margin:0 auto;
}
header{
    display:flex;
}
.logo{
    height:100px;
    width:200px;
    background-color: #EAE9EE;
}
.nav{
    width:1080px;
    height:100px;
    background-color: #C2C3D6;
}
main{
    display:flex;
}
article{
    width:980px;
}
.section01{
    display:flex;
}
main div, aside {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section01_left {
    width: 250px;
    height: 440px;
    /*background-color:red;*/
    background-image: url(../src/img/layout02_01.png);
}
.right_top{
    width:730px;
    height:220px;
    /*background-color: orange;*/
    background-image: url(../src/img/layout02_02.png);
}
.right_bottom{
    width:730px;
    height:220px;
    /*background-color: yellow;*/
    background-image: url(../src/img/layout02_03.png);
}
.section02{
    height:440px;
    /*background-color: yellowgreen;*/
    background-image: url(../src/img/layout02_04.png);
}
aside{
    width:300px;
    height:880px;
    /*background-color: pink;*/
    background-image: url(../src/img/layout02_05.png);
}
footer{
    display:flex;
}
.footer_left, .footer_right{
    width:200px;
    height:100px;
    background-color: #3A258A;
}
.footer_center{
    width:880px;
    height:100px;
    background-color: #6469CD;
}

@media(min-width:450px) and (max-width:680px){
    #wrap{
        width:100%;
    }
    .nav{
        width:483px;
    }
    aside, .section02{
        display:none;
    }
    .section01{
        display:block;
    }
    .section01 div{
        width:100%;
    }
    .section01_left{
        height:440px;
        background-image: url(../src/img/layout02_04.png);
    }
    .section01_right>div{
        height:220px;
    }
    .right_top{
        background-image: url(../src/img/layout02_03.png);
    }
    .right_bottom{
        background-image: url(../src/img/layout02_02.png);
    }
    footer{
        width:100%;
    }
    .footer_left, .footer_right {
        width: 106px;
    }

    .footer_center {
        width: 468px;
    }
}

@media(max-width:450px){
    .logo{
        width:350px;
        background-color: #C2C3D6;
    }
    .nav {
        width: 100px;
        background-color: #EAE9EE;
    }
    .section01{
        display:flex;
        flex-direction: column-reverse;
    }
    .section01_left{
        height:220px;
        width:450px;
        background-image: url(../src/img/layout02_02.png);
    }
    .section01_right{
        display:flex;
    }
    .section01_right>div{
        height:440px;
        width:225px;
    }
    .section02{
        display:flex;
        height:220px;
    }
    .section02>div{
        width:225px;
        height:220px;
    }
    .section02_left{
        background-image: url(../src/img/layout02_04.png);
    }
    .section02_right{
        background-image: url(../src/img/layout02_05.png);
    }
    .footer_left, .footer_right {
        display: none;
    }

    .footer_center {
        width: 100%;
    }
    .right_top{
        background-image: url(../src/img/layout02_01.png)
    }
    .right_bottom{
        background-image: url(../src/img/layout02_03.png);
    }
}