.center{
    max-width:1250px;
    margin:0 auto;
}
header{
    display:flex;
}
.h_left{
    width:250px;
    height:100px;
    background-color:#EEEEE9;
}
.h_right{
    width:1000px;
    height:100px;
    background-color:#D6CCC2 ;
}
main{
    position:relative;
}
.section1{
    width:1250px;
    height:440px;
    background-color: #F5ECE1;
}
.section2{
    width:500px;
    height:500px;
    background-color: #866756;
    position:absolute;
    top:50%;
    transform:translate(-50%, -50%);
    left:50%;
}
.section3_left{
    width:625px;
    height:440px;
    background-color: #E4D6CA;
}
.section3_right{
    width:625px;
    height:440px;
    background-color:#D5BEB1 ;
}
.section3{
    display:flex;
}
footer{
    width:1250px;
    height:100px;
    background-color: #D6CCC2;
}

@media(min-width:450px) and (max-width:680px){
    .h_left{
        display:none;
    }
    .section1{
        width:100%;
        height:294px;
    }
    .section3{
        display:flex;
        flex-direction: column;
    }
    .section3_left, .section3_right{
        width:100%;
        height:294px;
    }
    .section2{
        width:235px;
        height:235px;
        transform:translateY(-100%);
        left:0;
        top:100%;
    }
    footer{
        width:100%;
    }
}
@media(max-width:450px){
    .h_left{
        display:none;
    }
    .h_right, .section1{
        width:100%;
    }
    .section3{
        display:flex;
        flex-direction: column;
    }
    .section1,.section3_left, .section3_right{
        width:100%;
        height:294px;
    }
    .section2{
        width:200px;
        height:200px;
        transform:none;
        left:auto;
        right:0;
        top:0
    }
    footer{
        width:100%;
    }
}