
header{
    position:absolute;
    top:40px;
    width:354px;
}
header>a>img{
    width:6px;
    height:12px;
    margin-bottom:20px;
}
header>p{
    font-size:34px;
    font-weight: bold;
}
.container{
    position: relative;
    background-color: #F6F6F9 !important;
}
.profile{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile>img{
    width:150px;
    height:150px;
}
.name{
    margin:20px 0 8px 0;
    font-size:22px;
    font-weight: bold;
}
.job{
    font-size:16px;
    font-weight: 400;
}
.box{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:60px;
    width:354px;
    background-color:white;
    padding:0 15px;
    border-radius:8px;
    font-size:16px;
    font-weight:bold;
}
.icon{
    width:24px;
    height:24px;
}
.next{
    width:6px;
    height:14px;
}
.main2{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap:15px;

}
.footer{
    display:flex;
    width:415px;
    height:75px;
    position:absolute;
    bottom:0;
}
.menu{
    width:100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu>img{
    width:19px;
    height:20px;
    margin-bottom:8px;
}
.menu>p{
    font-size:12px;
    font-weight: 400;
}
.clicked{
    color:#31A063;
}
