header{
    position:absolute;
    top:40px;
    width:354px;
}
.icon_container{
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;
}
.icon_container>img{
    width:24px;
    height:24px;
}
.container{
    position:relative;
}
h1{
    font-size:34px;
    font-weight:bold;
}
.main{
    width:414px;
    display:flex;
    justify-content: center;
}
.section1{
    margin: 70px auto 30px auto;
    width:354px;
    height:146px;
    background-color: #258B66;
    border-radius:30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:20px;
    gap:20px;
}
.section1_top>p{
    color:white;
    font-size:16px;
}
.section1_bottom{
    display:flex;
    justify-content: space-between;
    color:white;
}
.section1_bottom>p{
    font-size:32px;
}
a>button{
    width:125px;
    height:40px;
    background-color: white;
    color:#31A078;
    border-radius:20px;
}

.best_plans{
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;
}
.best_plans>button{
    color:#FE555D;
    font-size:18px;
}
.best_plans>h1{
    font-size:22px;
    font-weight: bold;
}
.section4>h1{
    font-size:22px;
}
.box_container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 0;
}
.text_box>h3{
    font-size:18px;
    color:#4F4F4F;
    margin-bottom:10px;
}
.text_box>p{
    font-size:14px;
    color:#474747;
}
.img_box>img{
    width:61px;
    height:61px;
}
.footer img{
    width:19px;
    height:20px;
}
.icons{
    width:100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#999999;
    font-size:12px;
    gap:6px;
}
.footer{
    display:flex;
    justify-content: space-around;
    position:absolute;
    bottom:25px;
}
.home{
    color:#31A063;
}
.card_stock{
    display:flex;
    gap:15px;
    margin-bottom:40px;
}
