.container{
    background-color: #EAECF5;

}
.slide_container{
    animation:slideup 1s;
    position:fixed;
    top:5%;
    background-color: white;
    height:868px;
    border-top-left-radius :40px;
    border-top-right-radius: 40px;
    width:414px;
}

header{
    width:414px;
    display:flex;
    justify-content:center;
    margin-top:20px;
    position:relative;
    margin-bottom:30px;
}
header>p{
    font-size:22px;
    font-weight: bold;
}
header>img{
    width:26.67px;
    height:26.67px;
}
header>a{
    position:absolute;
    right:20px;
}
.main1{
    padding:0 40px 40px 40px;
}


.main1_bottom>p{
    font-size:32px;
    font-weight: bold;
}
.title{
    color:#B3B3B3;
    font-size:16px;
    font-weight:500;
    margin-bottom:10px;
}
.main1_bottom>img{
    width:40px;
    height:16px;
}
.main1_bottom{
    display:flex;
    align-items: center;
    gap:20px;
}
.main2{
    padding:0 40px 40px 40px;
    width:100%;
}
.main2>h3{
    font-size:22px;
    margin-bottom:15px;
    font-weight:bold;
}
.main2>button{
    color:#FE555D;
    display:block;
    font-size:18px;
    font-weight:400;
    margin:0 auto;
    margin-top:10px;
}

.list{
    display:flex;
    justify-content: space-between;
    position:relative;
    border-bottom: 1px solid #B3B3B3;
    margin:15px 0;
    
}
.main3{
    padding:0 40px;
}
.main3>h3{
    font-size:22px;
    font-weight: bold;
    margin-bottom:20px;
}
.black{
    font-size:18px;
    font-weight: bold;
}
.green{
    font-size:18px;
    font-weight:bold;
    color:#00B907;
}
.left>p{
    font-size:14px;
    color:#B3B3B3;
}
.left{
    display:flex;
    flex-direction: column;
    gap:8px;
    margin-bottom:15px;
}
.right{
    position:absolute;
    bottom:15px;
    right:0;
    font-size:14px;
    color:#B3B3B3;
}
@keyframes slideup {
    0%{
        top:100%;
    }
    to{
        top:5%;
    }
}