.center{
    width:1280px;
    margin:0 auto;
    height:100vh;
}
header{
    display:flex;
}
header>.h_left{
    width:200px;
    height:100px;
    background-color: #EAE9EE;
}
header>.h_right{
    width:1080px;
    height:100px;
    background-color: #C2C3D6;
}
.m_t_left{
    width:250px;
    height:440px;
    background-color: #E1E1F5;
}
.m_t_center>.m_c_top{
    width:730px;
    height:220px;
    background-color: #C0C0FB;
}
.m_t_center>.m_c_bottom{
    width:730px;
    height:220px;
    background-color: #9999EF;
}
.m_top{
    display:flex;
}
.m_t_right{
    width:300px;
    height:440px;
    background-color: #7878D4;
}
.m_b_left{
    width:130px;
    height:440px;
    background-color: #7878D4;
}
.m_b_center{
    width:400px;
    height:440px;
    background-color:#B1B2D5;
}
.m_b_right{
    width:750px;
    height:440px;
    background-color: #CACBE4;
}
.m_bottom{
    display:flex;
}
footer{
    display:flex;
}
.f_left{
    width:200px;
    height:100px;
    background-color: #3A258A;
}
.f_center{
    width:880px;
    height:100px;
    background-color: #6469CD;
}
.f_right{
    width:200px;
    height:100px;
    background-color: #3A258A;
}